body{
	margin:0px;
	background-color: #05151d;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
.faixaTopo{
	width: 100%;
	height: 100px;
	background-color: #66757e;
}
.sombra-bottom{
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.largura{
	width: 960px;
}
.topo{
	text-align: center;
	margin-top: -90px;
	position: relative;
}
.logo{
	width: 250px;
	height: 100px;
	background-image: url('../img/Apache_Cordova1.png');
	background-size: 250px;
	background-repeat: no-repeat;
}
.menu{
	width: 70%;
	height: 150px;
	position: absolute;
	top:25px;
	right: 0px;
	text-align: right;
}
.menu li{
	list-style-type: none;
	float: left;
	margin-right: 10px;
	font-size: medium;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.menu a:link{
	text-decoration: none;
	color: white;
	-webkit-transition: 2s; /* Safari */
    transition: 2s;
}
.menu a:hover{
	color:#0bc3ad;
}
.corpo{
	background-color: white;
	padding: 0 5px 5px 5px;
	border-radius: 10px;
	text-align: left;
	margin-bottom: 20px;
	z-index: -10;
}
h1,h2,h3,h4{
	color: #2C7185;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
h1{
	font-size: 38px;
    font-weight: normal;    
}
h2{
	font-size: 28px;
	font-weight: normal;
}

.sombra-box{
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.col{
	width: 48%;
	float: left;
	padding:7px;
	text-align: justify;
}
.col h2{
	color: 	#D60C3F;
}
.limpa{
	clear: both;
}
.rodape{
	text-align: center;
	padding-top: 30px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}
img{
	width: 100%;
	border: 1px solid #8a4419;
}

#boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    z-index: 1000;
}
.porta-foto{
	position: relative;
	z-index: 10;
}
.porta-foto::after {
    content: '';
    position: absolute;
    z-index: -2; /* hide shadow behind image */
    -webkit-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 30px 15px rgba(0, 0, 0, 0.4);                
    width: 70%; 
    right: 2%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 30px;
    transform: rotate(3deg);
}
.porta-foto::before {
    content: '';
    position: absolute;
    z-index: -2; /* hide shadow behind image */
    -webkit-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 30px 15px rgba(0, 0, 0, 0.4);                
    width: 70%; 
    left: 2%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 30px;
    transform: rotate(-3deg);
}

@media max-width: 600px{
	.corpo{
		text-align: justify-all;
	}
}